In [1]:
n = int(input("... : "))
if 1 <= n <= 20 :
    print([i**2 for i in range(n)], sep="\n")

[0, 1, 4, 9, 16]

In [11]:
n1 = 3
n2 = 5

numbers = []
num = 0
for i in range(n2) :
    num = num + n1
    numbers.append(num)
print(numbers)

[3, 6, 9, 12, 15]

>## int olarak girilecek bir sayıyı liste içerisinde string değerler olarak tersten olacak şekilde yazdıralım

In [26]:
n = 876509755433
new = list(str(n))[::-1]
print(new)

['3', '3', '4', '5', '5', '7', '9', '0', '5', '6', '7', '8']

## bir listede bulunan sayısal elemanlardan en çok tekrar eden elemanı ve kaç kere tekrar ettiğini bulalım
> ### `list.count()`
> ### `max()`
### https://docs.python.org/3/tutorial/datastructures.html?highlight=list%20count

In [36]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
item = max(numbers, key = numbers.count)
repetition = numbers.count(item)
print("the most frequent number is {} and it was {} times repeated".format(item, repetition))

the most frequent number is 3 and it was 4 times repeated

>## `set`ler ile çalışma yapma kapsamında `.update` metodunun detaylarını görelim

In [28]:
a_set = {1, 2, 3}
print(a_set)

a_set.update({2, 4, 6})                       
print(a_set)

a_set.update({3, 6, 9}, {1, 2, 3, 5, 8, 13})
print(a_set)

a_set.update([10, 20, 30])
print(a_set)

{1, 2, 3}
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 5, 6, 8, 9, 13}
{1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 20, 30}

## tarih formatını değiştirme

In [32]:
date = "11/22/2020"
date = date.split("/")
new_date = date[2] + date[1] + date[0]
new_date

'20202211'

## tuple içindeki listenin değiştirilmesi ve iki listenin toplamı

In [40]:
print([1,2,3,4] + ["11","122",33])

[1, 2, 3, 4, '11', '122', 33]

In [41]:
tt = (1, 2, [1, 3, 5])

tt[2].append("1")
tt

(1, 2, [1, 3, 5, '1'])

## `copy()` method

In [46]:
old_list = [1, 2, 3]
new_list = old_list

# add element to list
new_list.append('a')

print('New List:', new_list )
print('Old List:', old_list )

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3, 'a']

In [47]:
# mixed list
list = ['cat', 0, 6.7]

# copying a list
new_list = list.copy()

# Adding element to the new list
new_list.append('dog')

# Printing new and old list
print('Old List: ', list)
print('New List: ', new_list)

Old List:  ['cat', 0, 6.7]
New List:  ['cat', 0, 6.7, 'dog']

In [48]:
# mixed list
list = ['cat', 0, 6.7]

# copying a list using slicing
new_list = list[:]

# Adding element to the new list
new_list.append('dog')

# Printing new and old list
print('Old List: ', list)
print('New List: ', new_list)

Old List:  ['cat', 0, 6.7]
New List:  ['cat', 0, 6.7, 'dog']

## `extend()` method

In [96]:
# language list
language = ['French', 'English', 'German']

# another list of language
language1 = ['Spanish', 'Portuguese']

language.extend(language1)

# Extended List
print('Language List: ', language)

Language List:  ['French', 'English', 'German', 'Spanish', 'Portuguese']

## tüm collection tipleri bu yöntemle listeye eklenebilir

In [50]:
# language list
language = ['French', 'English', 'German']

# language tuple
language_tuple = ('Spanish', 'Portuguese')

# language set
language_set = {'Chinese', 'Japanese'}

# appending element of language tuple
language.extend(language_tuple)

print('New Language List: ', language)

# appending element of language set
language.extend(language_set)

print('Newest Language List: ', language)

New Language List:  ['French', 'English', 'German', 'Spanish', 'Portuguese']
Newest Language List:  ['French', 'English', 'German', 'Spanish', 'Portuguese', 'Japanese', 'Chinese']

## `count()` method

In [51]:
# random list
random = ['a', ('a', 'b'), ('a', 'b'), [3, 4]]

# count element ('a', 'b')
count = random.count(('a', 'b'))

# print count
print("The count of ('a', 'b') is:", count)

# count element [3, 4]
count = random.count([3, 4])

# print count
print("The count of [3, 4] is:", count)

The count of ('a', 'b') is: 2
The count of [3, 4] is: 1

## `pop()` method

In [52]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'French', 'C']

# remove and return the 4th item
return_value = languages.pop(3)
print('Return Value:', return_value)

# Updated List
print('Updated List:', languages)

Return Value: French
Updated List: ['Python', 'Java', 'C++', 'C']

In [53]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']

# remove and return the last item
print('When index is not passed:') 
print('Return Value:', languages.pop())
print('Updated List:', languages)

# remove and return the last item
print('\nWhen -1 is passed:') 
print('Return Value:', languages.pop(-1))
print('Updated List:', languages)

# remove and return the third last item
print('\nWhen -3 is passed:') 
print('Return Value:', languages.pop(-3))
print('Updated List:', languages)

When index is not passed:
Return Value: C
Updated List: ['Python', 'Java', 'C++', 'Ruby']

When -1 is passed:
Return Value: Ruby
Updated List: ['Python', 'Java', 'C++']

When -3 is passed:
Return Value: Python
Updated List: ['Java', 'C++']

## find the year if it is a leap year

In the Gregorian calendar, three criteria must be taken into account to identify leap years:

The year must be evenly divisible by 4;
 - If the year can also be evenly divided by 100, it is not a leap year;
unless...
 - The year is also evenly divisible by 400. Then it is a leap year.
 - According to these rules, the years 2000 and 2400 are leap years,
while 1800, 1900, 2100, 2200, 2300, and 2500 are not leap years.

In [97]:
year = int(input("dört rakamlı bir yıl giriniz : "))
leap = (year % 4 == 0) and ((year % 400 == 0) or (year % 100 != 0))
print(leap)

True

## if statement kullanarak leap year hesaplamak

In [99]:
# Python program to check if year is a leap year or not

year = int(input("dört rakamlı bir yıl giriniz : "))

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

2019 is not a leap year

## faktoriyel hesaplama

>Note: To test the program for a different number, change the value of num.

Here, the number whose factorial is to be found is stored in num, and we check if the number is negative, zero or positive using if...elif...else statement. If the number is positive, we use for loop and range() function to calculate the factorial.

In [71]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

A positive integer is called an Armstrong number of order n if

`abcd... = an + bn + cn + dn + ...`
In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. For example:

`153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.`

In [ ]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

In [93]:
anum = int(input("enter 3 digit int number to check if it is an armstrong number:"))

is_arm = anum == ((anum//100)**3)+(((anum//10)%10)**3)+((anum%10)**3)

if is_arm:
    print(anum, "is an armstrong number")
else:
    print(anum, "is not an armstrong number")
#407 and 153 are the armstrong numbers

407 is an armstrong number

In [6]:
armnum = input("enter 3 digit int number to check if it is an armstrong number:")

is_armnum = int(armnum) == (int(armnum[0])**3) + (int(armnum[1])**3) + (int(armnum[2])**3)

if is_armnum:
    print(armnum, "is an armstrong number")
else:
    print(armnum, "is not an armstrong number")

407 is an armstrong number